<div>
  <div class="intro-banner bg-success">
    <div class="intro-copy">
      <h2> Shelters</h2>
      <p> hgdkfhgjdh kgfdhfjgklfd gjldf kjgklfdjg kldfjgkl djfkgljdfl</p>
    </div>
  </div>

  <div><% @shelters.each do |shelter| %>
    <div>
    <h3> <%= shelter.name %></h3>
    <p>description of the shelter</p>
    <p><strong><%= link_to shelter.name, shelter_path(shelter), class: 'shelter-link'%></strong></p>
    <% if shelter.photos.attached? %>
    <div class="shelter-card-picture"><%= image_tag(shelter.photos[0])%></div>
    <% end %>
    <%= link_to "Edit Shelter" ,edit_shelter_path(shelter) %>
    </div>
  <% end %>
  </div>
</div>
