// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #383838;
$light-gray: #F4F4F4;
$white: #FFFFFF;

// Gradients
$emergency: linear-gradient(180deg, rgba(255,252,242,1) 0%, rgba(231,189,165,1) 100%);
$animal: linear-gradient(180deg, rgba(255,244,255,1) 0%, rgba(228,180,232,1) 100%);
$shelter: linear-gradient(180deg, rgba(222,255,251,1) 0%, rgba(129,213,217,1) 100%);
$white: #FFFFFF;
$hero: linear-gradient(180deg, rgba(236,240,243,1) 0%, rgba(204,204,204,1) 100%);
