// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Define fonts for body and headers
$body-font: "Inter", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

.font-size {
  font-size: 22px;
}

.card-headline {
  font-weight: bold;
  font-size: 20px;
  color: black;
}
