// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Define fonts for body and headers
$body-font: "Inter", "Helvetica", "sans-serif";
$headers-font: "Inter", "Helvetica", "sans-serif";

.font-size {
  font-size: 22px;
}

.card-headline {
  font-weight: bold;
  font-size: 20px;
  color: #383838;
}
.normal-head {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  color: #383838;
}

.normal-sub {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  color: #383838;
}

.btn-font {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.card-sub {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  color: #383838;
  text-decoration: none;
}

.container-top-copy {
  padding-left: 36px;
  padding-right: 36px;
  width: 50%;
}

.card-head {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #383838
}

.card-link {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #383838;
  text-decoration: none;
}

.fund-sub {
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
