.name-gender-size {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.gender-size {
  display: flex;
  flex-direction: column;
  align-items: end;

  p {
    margin: 0;
  }
}

.form-search-animal {
  width: inherit !important;
}
