.shelter-links {
  margin: 10px 0px;
}

.shelter-links a {
  color: white;
  text-decoration: none;
}

.shelter-card-maplinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
