<div class="emergency-show-body">
  <div class="emergencies-container">
    <div class="normal-head">Come to <%= @emergency.animal.name %>'s aid!</div>
    <div>
      <%= link_to "â† back to emergencies", emergencies_path, class: "card-link" %>
    </div>
  </div>
</div>
