<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-5 border-top footer">
  <div class="col-md-4 d-flex align-items-center">
    <%= link_to about_path, class: "navbar-brand px-2" do %>
      <i class="fa-solid fa-paw font-size me-3"></i>
      <span class="mb-3 mb-md-0 text-muted">About</span>
    <% end %>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a class="text-muted" href="https://github.com/GGC0des/petpatron"><i class="fa-brands fa-github font-size"></i></a></li>
    <li class="ms-3"><a class="text-muted" href="https://www.linkedin.com/messaging/compose/?recipient=georginaspieth"><i class="fa-regular fa-envelope font-size"></i></a></li>
    <%= link_to root_path, class: "navbar-brand px-2" do %>
      <a class="text-muted" href="#"><i class="fa-solid fa-chevron-up font-size"></i></a>
    <% end %>
  </ul>
</footer>
