<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-5 border-top footer">
    <div class="col-md-4 d-flex align-items-center">
      <%= link_to root_path, class: "navbar-brand px-2" do %>
        <%= image_tag "Paw_Logo_Grey.svg" %>
      <% end %>
      <span class="mb-3 mb-md-0 text-muted">PetPatron, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-twitter font-size"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-instagram font-size"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-facebook font-size"></i></a></li>
    </ul>
  </footer>
</div>
