<% content_for :meta_url, "#{request.original_url}" %>
<% content_for :meta_title, "About" %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
</head>
<body class="bg-light">
    <div class="container mt-5">
        <div class="card shadow-sm p-4">
            <h1 class="text-center">About</h1>
            <p class="text-muted text-center"> This website is <strong>for demonstration purposes only</strong> and does not constitute a commercial offer.</p>
            <p class="text-muted text-center"> PetPatron is a creative demo page for a Ruby web application. All names, people, animals, organisations, places, events, incidents and portrayals are entirely fictional and invented for demo purposes.
                Any resemblance to actual persons or animals (living or dead) or actual entities or events is purely coincidental.</p>
            <p class="text-muted text-center">
                None of the emergency fundraisers are real events, <strong>donation site is solely for simulation purposes</strong> of programming skills, <strong>no transactions or data are processed</strong>.
                The app uses <a href="https://github.com/heartcombo/devise" target="_blank" class="text-muted"><strong>Devise</strong></a> for authentication. If you choose to register, your email address and encrypted password will be securely stored in the database.
                This application is hosted on <a href="https://www.heroku.com/" target="_blank" class="text-muted"><strong>Heroku</strong></a>, a cloud platform service. No user data is shared with third parties or connected to real services.
            </p>
            <p class="text-muted text-center">
                This demo application was initially created by a small junior developer team (Georgina Spieth, Niklas Held, Amani Maklad, Max Wuschko) to showcase coding skills and application architecture. Feature updates (mobile responsiveness, design update, alerts, disclaimer modules, JavaScript features)
                and maintenance by Georgina Spieth.
                Read <a class="text-muted" href="https://github.com/GGC0des/petpatron?tab=readme-ov-file#features" target="_blank"><strong>Documentation</strong></a>.
            </p>
            <hr>
            <div class="row">
                <div class="text-center">
                    <h2>PetPatron Demo Web App</h2>
                    <p><a href="https://github.com/GGC0des/petpatron/blob/main/README.md" target="_blank"><img src="https://img.shields.io/badge/Github-Documentation-39ccc2" alt="Documentation Badge"></a>
                      <a href="https://rubyonrails.org/" target="_blank"><img src="https://img.shields.io/badge/Ruby_on_Rails-3.1.2-red" alt="Ruby on Rails Badge"></a>
                      <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"><img src="https://img.shields.io/badge/JavaScript-ES6-yellow" alt="JavaScript Badge"></a>
                      <a href="https://stimulus.hotwired.dev/" target="_blank"><img src="https://img.shields.io/badge/Stimulus-1.1.1-blue" alt="Stimulus Badge"></a>
                      <a href="https://www.mapbox.com/" target="_blank"><img src="https://img.shields.io/badge/Mapbox-GL_JS-brightgreen" alt="Mapbox Badge"></a></p>
                    <ul>
                        <li><strong>Live Application</strong>: <a href="https://www.petpatron.help/" target="_blank">https://www.petpatron.help/</a></li>
                        <li><strong>GitHub Repository</strong>: <a href="https://github.com/GGC0des/petpatron?tab=readme-ov-file#petpatron" target="_blank">https://github.com/GGC0des/petpatron</a></li>
                    </ul>
                    <p>This project is part of Georgina Spieth's <a href="https://ggc0des.github.io/portfolio/" target="_blank">Portfolio</a>.</p>
                    <p><a class="text-muted" href="https://www.linkedin.com/messaging/compose/?recipient=georginaspieth"><i class="fa-regular fa-envelope font-size"></i> Contact </a></p>
                </div>
            </div>
        </div>
    </div>
</body>
