<% content_for :meta_url, "#{request.original_url}" %>
<% content_for :meta_title, "About" %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
</head>
<body class="bg-light">
    <div class="container mt-5">
        <div class="card shadow-sm p-4">
            <h1 class="text-center">About</h1>
            <p class="text-muted text-center"> This website is <strong>for demonstration purposes only</strong> and does not constitute a commercial offer.</p>
            <p class="text-muted text-center"> PetPatron is a creative demo page for a Ruby web application. All names, people, animals, organisations, places, events, incidents and portrayals are entirely fictional and invented for demo purposes.
            Any resemblance to actual persons or animals (living or dead) or actual entities or events is purely coincidental.</p>
            <p class="text-muted text-center"> None of the emergency fundraisers are real events, no transactions are processed, and the donation site is solely for simulation purposes of programming skills.</p>
            <p class="text-muted text-center"> Learn more about the features
              <a href="https://github.com/GGC0des/petpatron?tab=readme-ov-file#features" target="_blank">here</a>.
            </p>
            <hr>
            <div class="row">
                <div class="text-center">
                    <h2>PetPatron Demo Web App</h2>
                    <p><a href="https://www.petpatron.help/" target="_blank"><img src="https://img.shields.io/website?url=https%3A%2F%2Fwww.petpatron.help" alt="Website Badge"></a>
                      <a href="https://rubyonrails.org/" target="_blank"><img src="https://img.shields.io/badge/Ruby_on_Rails-5.2.3-red" alt="Ruby on Rails Badge"></a>
                      <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"><img src="https://img.shields.io/badge/JavaScript-ES6-yellow" alt="JavaScript Badge"></a>
                      <a href="https://stimulus.hotwired.dev/" target="_blank"><img src="https://img.shields.io/badge/Stimulus-1.1.1-blue" alt="Stimulus Badge"></a>
                      <a href="https://www.mapbox.com/" target="_blank"><img src="https://img.shields.io/badge/Mapbox-GL_JS-brightgreen" alt="Mapbox Badge"></a></p>
                    <ul>
                        <li><strong>Live Application</strong>: <a href="https://www.petpatron.help/" target="_blank">https://www.petpatron.help/</a></li>
                        <li><strong>GitHub Repository</strong>: <a href="https://github.com/GGC0des/petpatron?tab=readme-ov-file#petpatron" target="_blank">https://github.com/GGC0des/petpatron</a></li>
                    </ul>
                    <p>This project is part of Georgina Spieth's <a href="https://ggc0des.github.io/portfolio/" target="_blank">Portfolio</a>.</p>
                    <p><a class="text-muted" href="https://www.linkedin.com/messaging/compose/?recipient=georginaspieth"><i class="fa-regular fa-envelope font-size"></i> Contact </a></p>
                </div>
            </div>
        </div>
    </div>
</body>
