<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%= link_to "Emergencies", emergencies_path %>
<br>
<%= link_to "Animals/Caretakings", animals_path %>
<br>
<%= link_to "Shelters", shelters_path %>
