<% content_for :meta_url, "#{request.original_url}" %>
<% content_for :meta_title, "About | Impressum" %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Impressum</title>
</head>
<body class="bg-light">
    <div class="container mt-5">
        <div class="card shadow-sm p-4">
            <h1 class="text-center">About</h1>
            <p class="text-muted text-center"> This website is for demonstration purposes only and does not constitute a commercial offer.</p>
            <hr>
            <div class="row">
                <div class="text-center">
                    <h4>Impressum</h4>
                    <p>Diese Webseite dient ausschließlich zu Demonstrationszwecken und stellt kein geschäftsmäßiges Angebot dar.</p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</body>
