// on forms to add emergencies, animals or shelters:

.add-animal-button {
  background-color: #FDE3FF;
  color: #B36DB9;
  border: none;
  border-radius: 20px;
  padding: 16px 22px;
  font-weight: bold;
  margin: 20px;
  --bs-btn-bg: #B36DB9 !important;
  --bs-btn-color: white !important;
  --bs-btn-disabled-opacity: 100%;
}

.add-animal-button:hover {
  background-color: #B36DB9;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 16px 22px;
  font-weight: bold;
  margin: 20px;
}

.add-animal-button:active {
  --bs-btn-active-bg: #B36DB9;
  --bs-btn-active-color: white;
  --bs-btn-active-border: none;
  --bs-btn-active-border-radius: 20px;
  --bs-btn-active-padding: 16px 22px;
  --bs-btn-active-font-weight: bold;
  --bs-btn-active-margin: 20px;
}

.add-emergency-button {
  background-color: #FFE2D0;
  color: #D88351;
  border: none;
  border-radius: 20px;
  padding: 16px 22px;
  font-weight: bold;
  margin: 20px;
  --bs-btn-bg: #D88351 !important;
  --bs-btn-color: white !important;
  --bs-btn-disabled-opacity: 100%;
}

.add-emergency-button:hover {
  background-color: #D88351;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 16px 22px;
  font-weight: bold;
  margin: 20px;
}

.add-emergency-button:active {
  --bs-btn-active-bg: #D88351;
  --bs-btn-active-color: white;
  --bs-btn-active-border: none;
  --bs-btn-active-border-radius: 20px;
  --bs-btn-active-padding: 16px 22px;
  --bs-btn-active-font-weight: bold;
  --bs-btn-active-margin: 20px;
}

.add-shelter-button {
  background-color: #E5FFFE;
  color: #42A8B1;
  border: none;
  border-radius: 20px;
  padding: 16px 22px;
  font-weight: bold;
  margin: 20px;
  --bs-btn-bg: #42A8B1 !important;
  --bs-btn-color: white !important;
  --bs-btn-disabled-opacity: 100%;
}

.add-shelter-button:hover {
  background-color: #42A8B1;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 16px 22px;
  font-weight: bold;
  margin: 20px;
}

.add-shelter-button:active {
  --bs-btn-active-bg: #42A8B1;
  --bs-btn-active-color: white;
  --bs-btn-active-border: none;
  --bs-btn-active-border-radius: 20px;
  --bs-btn-active-padding: 16px 22px;
  --bs-btn-active-font-weight: bold;
  --bs-btn-active-margin: 20px;
}

// on show-page for emergencies called "donate-button",

.donate-button {
  background-color: #D88351;
  margin-top: 24px;
  color: #FFF;
  // width: 260px;
  // height: 56px;
  border: none;
  border-radius: 20px;
  padding: 6px 22px;
  font-weight: bold;
  --bs-btn-bg: #D88351 !important;
  --bs-btn-color: white !important;
  --bs-btn-disabled-opacity: 100%;
  text-decoration:none;
  transition: 0.5s;
}

.donate-button:hover {
  background-color: #D88351;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 6px 22px;
  font-weight: bold;
  box-shadow: -15px -15px 20px #f4cca743 , 15px 15px 20px  #9c704e7a;
  text-decoration:none;
}

.donate-button:active {
  --bs-btn-active-bg: #D88351;
  --bs-btn-active-color: white;
  --bs-btn-active-border: none;
  --bs-btn-active-border-radius: 20px;
  --bs-btn-active-padding: 6px 22px;
  --bs-btn-active-font-weight: bold;
  box-shadow: -15px -15px 30px #f4cca743 , 15px 15px 30px  #9c704e7a;
}

.donate-button2 {
  background-color: #D88351 !important;
  margin-top: 24px;
  color: #FFF;
  border: none;
  font-size: small;
  border-radius: 20px;
  padding: 6px 22px;
  font-weight: bold;
  --bs-btn-bg: #D88351 !important;
  --bs-btn-color: white !important;
  --bs-btn-disabled-opacity: 100%;
  text-decoration:none;
}

.add-emergency-link {
  a {
    color: #D88351;
    text-decoration: none;
    font-weight: 500;
  }
}

.donate-button2:hover {
  background-color: #D88351;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 6px 22px;
  font-weight: bold;
  box-shadow: -5px -5px 10px #f4cca743 , 5px 5px 10px  #9c704e7a;
  transition: 0.5s;
  text-decoration:none;
}

.donate-button2:active {
  --bs-btn-active-bg: #D88351;
  --bs-btn-active-color: white;
  --bs-btn-active-border: none;
  --bs-btn-active-border-radius: 20px;
  --bs-btn-active-padding: 6px 22px;
  --bs-btn-active-font-weight: bold;
  box-shadow: -15px -15px 30px #f4cca743 , 15px 15px 30px  #9c704e7a;
}

// on show-pages for animals called "bookdate-button",

.bookdate-button {
  background-color: #B36DB9;
  color: #FFF;
  border: none;
  border-radius: 20px;
  padding: 16px 22px;
  font-weight: bold;
  margin: 20px;
  --bs-btn-bg: #B36DB9 !important;
  --bs-btn-color: white !important;
  --bs-btn-disabled-opacity: 100%;
}

.bookdate-button:hover {
  background-color: #B36DB9;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 16px 22px;
  font-weight: bold;
  margin: 20px;
  box-shadow: -15px -15px 20px #eaa7f443 , 15px 15px 20px  #8a4e9c5f;
  transition: 0.5s;
}

.bookdate-button:active {
  --bs-btn-active-bg: #B36DB9;
  --bs-btn-active-color: white;
  --bs-btn-active-border: none;
  --bs-btn-active-border-radius: 20px;
  --bs-btn-active-padding: 16px 22px;
  --bs-btn-active-font-weight: bold;
  --bs-btn-active-margin: 20px;
  box-shadow: -15px -15px 30px #f4cca743 , 15px 15px 30px  #9c704e7a;
}

// on show-pages for shelters called "allanimals-button" & "urgentcauses-button"

.allanimals-button {
  width: 100%;
  height: 35px;
  background-color: #42A8B1;
  color: #FFF;
  border: none;
  border-radius: 20px;
  padding: 6px 22px;
  font-weight: bold;
  margin: 20px;
  --bs-btn-bg: #42A8B1 !important;
  --bs-btn-color: white !important;
  --bs-btn-disabled-opacity: 100%;
}

.allanimals-button:hover {
  background-color: #42A8B1;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 6px 22px;
  font-weight: bold;
  box-shadow: -10px -10px 20px #a7f0f466 , 10px 10px 20px  #4e859c63;
  transition: 0.5s;
}

.allanimals-button:active {
  --bs-btn-active-bg: #42A8B1;
  --bs-btn-active-color: white;
  --bs-btn-active-border: none;
  --bs-btn-active-border-radius: 20px;
  --bs-btn-active-padding: 16px 22px;
  --bs-btn-active-font-weight: bold;
  --bs-btn-active-margin: 20px;
  box-shadow: -10px -10px 20px #a7f0f466 , 10px 10px 20px  #4e859c63;
}

.urgentcauses-button {
  width: 100%;
  height: 35px;
  background-color: #383838;
  color: #FFF;
  border: none;
  border-radius: 20px;
  padding: 6px 22px;
  font-weight: bold;
  margin: 20px;
  --bs-btn-bg: #383838 !important;
  --bs-btn-color: white !important;
  --bs-btn-disabled-opacity: 100%;
}

.urgentcauses-button:hover {
  background-color: #383838;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 6px 22px;
  font-weight: bold;
  box-shadow: -7px -7px 20px #3838383f , 10px 10px 20px  #3838381f;
  transition: 0.5s;
}

.urgentcauses-button:active {
  --bs-btn-active-bg: #383838;
  --bs-btn-active-color: white;
  --bs-btn-active-border: none;
  --bs-btn-active-border-radius: 20px;
  --bs-btn-active-padding: 16px 22px;
  --bs-btn-active-font-weight: bold;
  --bs-btn-active-margin: 20px;
  box-shadow: -7px -7px 20px #3838383f , 10px 10px 20px  #3838381f;
}

.payment-button {
  width:160px;
  height:80px;
  border:2px solid #c8c8c8;
  padding:16px 24px;
  text-align: center;
  border-radius:5px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.payment-button:hover {
  border:2px solid #767676;
}

.payment-button-selected {
  width:160px;
  height:80px;
  border:2px solid #767676;
  padding:16px 24px;
  text-align: center;
  border-radius:5px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.payment-button img {
  height:40px;
  width: auto;
}

.swal-button {
  background-color: #D88351 !important;
  margin-top: 24px;
  color: #FFF;
  width: 120px;
  height: 56px;
  border: none;
  border-radius: 20px;
  padding: 16px 22px;
  font-weight: bold;
  --bs-btn-bg: #D88351 !important;
  --bs-btn-color: white !important;
  --bs-btn-disabled-opacity: 100%;
  text-decoration:none;
}

.swal-button:hover {
  background-color: #D88351 !important;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 16px 22px;
  font-weight: bold;
  box-shadow: -15px -15px 20px #f4cca743 , 15px 15px 20px  #9c704e7a !important;
  transition: 0.5s;
  text-decoration:none;
}

.swal-footer {
  text-align: center;
}

.add-emergency-button {
  font-size: 0.8em;
}

.add-shelter-dashboard-button {
  height: 35px;
  background-color: #383838;
  color: #fdf3dd;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;
  --bs-btn-bg: #383838 !important;
  --bs-btn-color: white !important;
  --bs-btn-disabled-opacity: 100%;
}

.add-shelter-dashboard-button:hover {
  background-color: #383838;
  color: #fdf3dd;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  box-shadow: -7px -7px 20px #3838383f , 10px 10px 20px  #3838381f;
  transition: 0.5s;
}

.add-shelter-dashboard-button:active {
  --bs-btn-active-bg: #383838;
  --bs-btn-active-color: white;
  --bs-btn-active-border: none;
  --bs-btn-active-border-radius: 20px;
  --bs-btn-active-padding: 16px 22px;
  --bs-btn-active-font-weight: bold;
  --bs-btn-active-margin: 20px;
  box-shadow: -7px -7px 20px #3838383f , 10px 10px 20px  #3838381f;
}

.check-volunteering {
  color: #383838;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #383838;
  border-radius: 20px;
  transition: 0.35s;
  font-weight: bold;
}

.check-volunteering:hover {
  color: #fdf3dd;
  background-color: #383838;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #383838;
  border-radius: 20px;
  box-shadow: -7px -7px 20px #3838383f , 10px 10px 20px  #3838381f;
}
