.btn-donate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 22px;
  width: 260px;
  height: 56px;
  background: #D88351;
  border-radius: 20px;
}

.btn-urgent-causes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 22px;
  width: 260px;
  height: 56px;
  background: #383838;
  border-radius: 20px;
}
