.shelter-card {
  background-color: white;
  background: #FFFFFF;
  box-shadow: -5px -12px 24px #EFFFFD, 8px 8px 25px #81BABC;
  border-radius: 16px;
  height:400px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  overflow:hidden;
}

.animal-card {
  background-color: white;
  background: #FFFFFF;
  box-shadow: -5px -5px 22px rgba(255, 255, 255, 0.5), 6px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  height:440px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  overflow:hidden;
}

.emergency-card {
  background-color: white;
  background: #FFFFFF;
  box-shadow: -5px -12px 24px #FFF3ED, 8px 8px 25px #D9A88C;
  border-radius: 16px;
  height:480px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  overflow:hidden;
}
.shelter-card-text {
  padding: 32px 28px;
}

.animal-card-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow:hidden;
    height:200px;
}

.shelter-card-element {
  display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // overflow:hidden;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  height:200px;
}

.shelter-card-image{
	// border-bottom-left-radius: 16px;
	// border-bottom-right-radius: 16px;
  height:200px;
}

.animal-card img {
  object-fit: cover;
  height:200px;
  width:100%;
}

.emergency-card img {
  object-fit: cover;
  height:200px;
  width:100%;
}

.shelter-card img {
  object-fit: cover;
  height:200px;
  width:100%;
  // display: flex;
  // flex-wrap: wrap;
  // align-items: center;
  // align-content: space-between;
}

// Limit text to show to number of allowed lines
.txt-limit-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
          line-clamp: 3;
  -webkit-box-orient: vertical;
}
