.shelter-card {
  background-color: white;
  background: #FFFFFF;
  box-shadow: -5px -12px 24px #EFFFFD, 8px 8px 25px #81BABC;
  border-radius: 16px;
  height:400px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  overflow:hidden;
}

.fundraising-card {
  height: 500px;
  background-color: #FFF3EC;
  box-shadow: -5px -12px 40px #FFF3ED, 8px 8px 32px #D9A88C;
  border-radius: 16px;
  display:flex;
  margin-bottom: 50px;
  max-width: 1360px;
}

.shelters-card {
  height: 500px;
  background: #FFFFFF;
  box-shadow: -5px -12px 24px rgba(255, 255, 255, 0.5), 8px 8px 25px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  display:flex;
  justify-content: space-between;
}

.fundraising-card-text {
  max-width: 860px;
  margin: auto auto;
  padding: 50px 100px;
}

.shelters-card-text {
  width:400px;
  padding: 40px 40px;
}

.fundraising-card > img {
  height: 100%
}

.shelter-card-maplinks {
  width:400px;
  padding: 40px;
  align-items: center;
}

.shelter-card-maplinks img {
  width:200px;
}

.fund-comment-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 36px;
  gap: 36px;
  height: 148px;
  background: #fbe7dc;
  box-shadow: -5px -5px 24px rgba(255, 243, 237, 0.5), 8px 8px 20px rgba(217, 168, 140, 0.6);
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.fund-comment-card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  height: 80px;
}

.animal-card {
  background: #FFFFFF;
  box-shadow: -5px -5px 22px rgba(255, 255, 255, 0.5), 6px 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  overflow: hidden;
  display: grid;
  // align-content: space-between;
}

.emergency-card {
  background-color: white;
  background: #FFFFFF;
  box-shadow: -5px -12px 24px #FFF3ED, 8px 8px 25px #D9A88C;
  border-radius: 16px;
  height:480px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  overflow:hidden;
}

.emergency-card-element {
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  height:200px;
}
.shelter-card-text {
  padding: 28px 28px;
}

.animal-card-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow:hidden;
}

.shelter-card-element {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // overflow:hidden;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  height:200px;
}

.shelter-card-image{
	// border-bottom-left-radius: 16px;
	// border-bottom-right-radius: 16px;
  height:200px;
}

.animal-card img {
  width:100%;
}

.emergency-card img {
  object-fit: cover;
  height:200px;
  width:100%;
}

.shelter-card img {
  object-fit: cover;
  height:200px;
  width:100%;
  // display: flex;
  // flex-wrap: wrap;
  // align-items: center;
  // align-content: space-between;
}


// Limit text to show to number of allowed lines
.txt-limit-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
          line-clamp: 3;
  -webkit-box-orient: vertical;
}

.pp-card {
  border-radius: 16px;
  border: 2px solid #acacac;
  padding: 16px;
}

.example-card-pending {
  background-color: green;
  width: 1276px;
  height: 200px;
  display: flex;
  gap: 5%;
}

.caretaking-shelterdashboard-confirmed {
  width: 30%;
  height: fit-content;
  border-radius: 16px;
  display: flex;
}

.caretaking-info-text {
  padding: 16px 0px 16px 24px;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.caretaking-shelterdashboard-confirmed-photos {
  width: 45%;
  display: flex;
}

.delete-caretaking-booking {
  width: 10%;
}
