.three-cards-row {
  padding: 32px 82px 64px 82px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 340px;
  margin: 0px auto;
  justify-content: space-between;
  gap: 48px;
  background-color: #CCCCCC;
}

.emergency-card {
  padding: 32px 0px 0px 32px;
  border-radius: 16px;
  box-shadow: -15px -15px 30px #ffffff83 , 15px 15px 30px  #00000024;
  transition: 0.5s;
}

.emergency-card:hover {
  padding: 32px 0px 0px 32px;
  border-radius: 16px;
  box-shadow: -15px -15px 30px #f4cca743 , 15px 15px 30px  #9c704e7a;
  transition: 0.5s;
}

.emergency-img {
  background-image: url("Category_emergency"), $emergency;
  background-repeat: no-repeat;
}

.animal-card {
  padding: 32px 0px 0px 32px;
  border-radius: 16px;
  box-shadow: -15px -15px 30px #ffffff83 , 15px 15px 30px  #00000024;
  transition: 0.5s;
}

.animal-card:hover {
  padding: 32px 0px 0px 32px;
  border-radius: 16px;
  box-shadow: -15px -15px 30px #eaa7f443 , 15px 15px 30px  #8a4e9c5f;
  transition: 0.5s;
}

.animal-img {
  background-image: url("Category_animal"), $animal;
  background-repeat: no-repeat;
}

.shelter-card {
  padding: 32px 0px 0px 32px;
  border-radius: 16px;
  box-shadow: -15px -15px 30px #ffffff83 , 15px 15px 30px  #00000024;
  transition: 0.5s;
}

.shelter-card:hover {
  padding: 32px 0px 0px 32px;
  border-radius: 16px;
  box-shadow: -15px -15px 30px #a7f0f466 , 15px 15px 30px  #4e859c63;
  transition: 0.5s;
}

.shelter-img {
  background-image: url("Category_shelter"), $shelter;
  background-repeat: no-repeat;
}
