.container{
  max-width: 1512px;
  position: relative;
  margin: 0 auto;
}

.create-don-bg {
  background: $emergency;
}

.create-don-container {
  max-width: 800px;
  margin: 0 auto;

}

.container-avatar-edit {
  display: flex;
  margin: 100px auto;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
}

.emergency-show-body {
  background: $emergency;
  display: flex;
  justify-content: center;
}

.shelter-show-body {
  background: $shelter;
  padding-top: 80px;
  padding-bottom: 80px;
}

.shelter-container {
  border-radius: 16px;
  background: $shelter;
  width: 90%;
  max-width: 1360px;
  margin: 80px auto;
}

.animal-container {
  border-radius: 16px;
  background: $animal;
  width: 90%;
  max-width: 1360px;
  margin: 80px auto;
}

.animal-show-container {
  background: $animal;
  padding-bottom: 67px;
}

.animal-show-body {
  height: 699px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 64px 82px;
  gap: 32px;
}

.emergencies-container {
  border-radius: 16px;
  background: $emergency;
  width: 90%;
  max-width: 1360px;
  margin: 80px auto;
}

.em-show-container {
  margin: 0 80px;
  border-radius: 16px;
  max-width: 1360px;
  margin: 0 auto;
  width: 90%;
}


.container-top {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 32px;
  grid-gap: 32px;
}

.stuff-container-dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}
