.emergency-show-body {
  background: $emergency;
  padding-top: 80px;
  padding-bottom: 80px;
}

.shelter-container {
  margin: 80px;
  border-radius: 16px;
  background: $shelter;
}

.animal-container {
  margin: 80px;
  border-radius: 16px;
  background: $animal;
}

.animal-show-container {
  background: $animal;
}

.animal-show-body {
  width: 1440px;
  height: 699px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 64px 82px;
  gap: 32px;
}

.emergencies-container {
  margin: 80px;
  border-radius: 16px;
  background: $emergency;
}

.em-show-container {
  margin: 0 80px;
  border-radius: 16px;
}


.container-top {
  height: 300px;
  display: flex;
  justify-content: space-between;
}

.container-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 32px;
  grid-gap: 32px;
}
