.pet-container {
  margin: 80px;
  border-radius: 16px;
  background-image: linear-gradient(#DEFFFB, #81D5D9)
}

.container-top {
  height: 300px;
  display: flex;
  justify-content: space-between;
}
