.container{
  max-width: 1512px;
  position: relative;
  margin: 0 auto;
  // padding: 0 16px;
}

.create-don-bg {
  background: $emergency;
}

.create-don-container {
  max-width: 800px;
  margin: 0 auto;

}

.container-avatar-edit {
  display: flex;
  margin: 100px auto;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
}

.background-body-dashboard {
  background-image: $emergency;
}

.emergency-show-body {
  background: $emergency;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shelter-show-body {
  background: $shelter;
  padding-top: 80px;
  padding-bottom: 80px;
}

.shelter-container {
  border-radius: 16px;
  background: $shelter;
  width: 90%;
  max-width: 1360px;
  margin: 80px auto;
}

.animal-container {
  border-radius: 16px;
  background: $animal;
  width: 90%;
  max-width: 1360px;
  margin: 80px auto;
}

.animal-show-container {
  background: $animal;
  padding-bottom: 67px;
}

.animal-show-body {
  height: 699px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 64px 82px;
  gap: 32px;
}

.emergencies-container {
  border-radius: 16px;
  width: 90%;
  max-width: 1360px;
  margin: 80px auto;
  background: $emergency;
}

.emg-new-photo {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 24px;
}

.emergencies-show-container {
  border-radius: 16px;
  width: 90%;
  max-width: 1360px;
  margin: 80px auto;
}

.em-show-container {
  margin: 0 80px;
  border-radius: 16px;
  max-width: 1360px;
  margin: 0 auto;
  width: 90%;
}

.container-top {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 32px;
  grid-gap: 32px;
}

.grid-dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

.stuff-container-dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

.dashboard-container {
  padding: 0px 0px 64px 0px;
  width: 90%;
  max-width: 1360px;
  margin: 0px auto;
}

.dashboard-big-group {
  margin: 64px 0px;
  padding: 24px 36px;
  background-color: rgba(255, 255, 255, 0.277);
  border-radius: 16px;
  box-shadow: 8px 8px 25px rgba(157, 66, 66, 0.16), -5px -12px 24px rgba(255, 221, 195, 0.5);
}

.dashboard-small-group {
  margin: 32px 0px;
}


/* Tablet: Two cards per row */
@media (max-width: 1024px) {
  .container-bottom {
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-gap: 24px;
  }
}

/* Mobile: One card per row */
@media (max-width: 768px) {

   .container-top {
    // flex-direction: column; /* Stack content vertically */
    height: auto; /* Remove fixed height to allow content to grow naturally */
    justify-content: center;
    align-items: center;
  }

  .container-bottom {
    grid-template-columns: 1fr; /* Single column for small screens */
    padding: 16px;
    grid-gap: 24px;
  }

  .container-bottom > * {
    // border: 3px solid currentColor;
    border-radius: 16px;
    padding: 20px;
  }
}
