.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  height: 34.09px;
}

.container-fluid {
  margin: 0px 65px;
}
