// bootstrap overwrite
.progress {
  width: 100% !important;
  --bs-progress-bar-bg: #E39465;
  --bs-progress-bg: #864823;
  border-radius:10px;
}

.progress-bar {
  border-radius:10px;
}

// #my-slider {
//   background: $emergency !important;
// }

#my-slider {
  width:400px !important; /* sample value - set it as you like*/
}
